<div class="col-md-12" align="center">


        <form name="form" class="form-horizontal" >

            <div class="form-group">
                <label class="control-label col-sm-2">Image:</label>
                <div class="col-sm-6">
                    <div class="col-md-8">

                        <input type="file" name="reviewPhoto"  ngf-select ng-model="files" ngf-multiple="true"  accept="image/*"  ngf-pattern="'.png,.jpg,.jpeg,.gif'"  multiple ng-change="imageAdd()"ng-click="imageErrorChk()"/>

                        <span style="color: red"ng-show="imgError" class="help-block">Photo is required</span>
                        <div class="alert" ng-show="files.$error === 'pattern'">file type is not accepted. Acceptable files: {{files.$errorParam}}</div>
                        <br>


                        <table class="table" style="width:100%">
                            <tr ng-repeat="image in productImageList ">

                                <td> <img width="60px" height="80px"  ng-src="{{image.RESOURCE}}"></td>
                                <td>
                                    <span   style="color: green;">This file on the server!</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs"  ng-click="imgEditDelete($index)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat="file in files">

                                <td> <img width="60px" height="80px"  ngf-thumbnail="file || '/thumb.jpg'"></td>
                                <td><span  style="color: red" ng-if="files[$index].size > 1024000">  File too large : max size 1MB  (Image size-{{files[$index].size | filesize}}) </span>
                                    <span style="color: green" ng-if="files[$index].size <1024000"> Image size-{{files[$index].size | filesize}}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs"  ng-click="imgDelete($index)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button></td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name:</label>
                        <div class="col-sm-4">
                            <input id="nameSave"  maxlength=16 type="text"
                                   name="name" class="form-control" ng-model="vm.name " value="" placeholder="Name" ng-change="imageErrorChk()">
                            <span style="color: red;" id="nameError" required> </span> </span>
                            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
                        </div>
                    </div>
                    <div ng-show="userPermission!=='1'" class="form-group">
                        <label class="control-label col-sm-2">Manufacturer:</label>
                        <div class="col-sm-4">
                            <input type="hidden"  id="manufacture" maxlength=22 type="text"
                                   name="manufacture" class="form-control"
                                   >

                            <span style="color: red"ng-show="manufacturerError" class="help-block">Manufacturer is required</span>

                            <angucomplete-alt id="ex2"
                                              placeholder="Search Manufacturer"
                                              pause="300"
                                              selected-object="selectedManufacturer"
                                              local-data="manufacData"
                                              local-search="manufacturerSearch"
                                              title-field="NAME,ID"
                                              description-field="twitter"
                                              image-field="pic"
                                              minlength="1"
                                              input-class="form-control form-control-small"
                                              match-class="highlight"
                            />
                            <span  style="color: red;" id="manufacturerError"> </span>
                            <span ng-show="form.manufacturer.$dirty && form.manufacturer.$error.required" class="help-block">Manufacturer is required</span>
                            <span style="color: red"ng-show="manufacturerError" class="help-block">Manufacturer is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Brand:</label>
                        <div class="col-sm-4">
                            <input type="hidden" value="" id="brandSave" maxlength=22 type="text"
                                   name="brand" class="form-control"
                                   placeholder="Brand" required>
                            <!--<span  ng-if="vm.brand>0"class="help-block">{{vm.brand}}</span>-->
                            <span style="color: red"ng-show="brandError" class="help-block">Brand is required</span>

                            <angucomplete-alt id="ex2"
                                              placeholder="Search brand"
                                              pause="300"
                                              selected-object="selectedBrand"
                                              local-data="brands"
                                              local-search="localSearch"
                                              title-field="NAME,ID"
                                              initial-value="brandName"
                                              description-field="twitter"
                                              image-field="pic"
                                              minlength="2"
                                              input-class="form-control form-control-small"
                                              match-class="highlight"
                            />
                            <span style="color: red;" id="brandError"> </span>
                            <span  class="help-block">{{vm.brand}}</span>
                            <span ng-show="form.brand.$dirty && form.brand.$error.required" class="help-block">Brand is required</span>
                            <span style="color: red"ng-show="brandError" class="help-block">Brand is required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" ng-click="a()">Short Text:</label>
                        <div class="col-sm-4">
						 <textarea id="shortText" maxlength="200"  class="form-control" name="shortText"
                                          ng-model="vm.shortText"
                                          placeholder="Short_Text" value="" rows="5" required></textarea>
                            <span style="color: red;" id="shortTextError"> </span>
                            <span ng-show="form.shortText.$dirty && form.shortText.$error.required" class="help-block">Short Text is required</span>
                        </div>
                    </div>

                            <input type="hidden" id="status" maxlength=4 type="text" name="status"
                                   class="form-control" ng-init="vm.status=1" value=" "	placeholder="Status" required>

                    <div ng-if="productId===undefined " ng-init="vm.rat=1" class="form-group">
                        <label class="control-label col-sm-2">Rating:</label>

                        <div   class="col-sm-4">



                            <div star-rat rating="starRating" click="click(param)" mouse-hover="mouseHover(param)" mouse-leave="mouseLeave(param)"  class="col-sm-5">  </div>
                            <span class="col-sm-6" ng-if="hoverRating===1">Terrible</span>
                            <span class="col-sm-6" ng-if="hoverRating===2">Poor</span>
                            <span class="col-sm-6" ng-if="hoverRating===3">Average</span>
                            <span class="col-sm-6" ng-if="hoverRating===4">Very Good</span>
                            <span class="col-sm-6" ng-if="hoverRating===5">Excellent</span>


                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Description:</label>
                        <div class="col-sm-4">

								<textarea id="descriptionSave" maxlength=600 type="text" value=""
                                          name="description" class="form-control"
                                          ng-model="vm.description" placeholder="description" rows="10" required></textarea>
                            <span style="color: red" id="descriptionError"> </span>
                            <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Description is required</span>
                        </div>
                    </div>
                    <div class="form-group" ng-init="categoryDataGet()">
                        <label class="control-label col-sm-2">Category:</label>
                        <div class="col-sm-4">

                            <select
                                    class="form-control"
                                    ng-required="true"
                                    id="category"
                                    ng-change="selectAction()"
                                    ng-model="myOption"
                                    ng-options="value.label as value.label group by value.group for value in myOptions">
                                <optgroup label="Option Group">Option Group</option>  <option>-Category-</option></optgroup>
                            </select>
                            <span style="color: red" id="categoryError"> </span>
                            <span ng-show="form.category.$dirty && form.category.$error.required" class="help-block">Category is required</span>
                            <br>
                            <!--<div ng-repeat="categ in categoryArr">-->
                                <style>
                                  p:hover {
                                        color: red;

                                    }
                                  P {cursor: pointer}
                                </style>
                                <!--&lt;!&ndash;{{categArr }}&ndash;&gt;-->

                                <!--<span>{{categ}}<p  class="glyphicon glyphicon-remove" ng-click="delete($index)"></p></span>-->


                            <!--</div>-->
                            <div >
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>

                                        <th>Parent Category  </th>
                                        <th>Child Category  </th>

                                        <th>Delete</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="category in categoryArr | orderBy : 'childName' ">

                                        <td>{{category.parentName}}</td>
                                        <td>{{category.childName}}</td>

                                        <td> <p  class="glyphicon glyphicon-remove" ng-click="delete($index)"></p></td>

                                    </tr>

                                    </tbody>
                                </table>


                            </div>
                            <span ng-show="messageProductAdd" class="help-block">{{messageProductAdd}}</span>
                        </div>
                    <!--</div>-->
                    <input type="hidden" name="id" id="id" class="form-control" value=""ng-model="vm.id"  />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <br /> <br />
                            <button ng-if="productId===undefined && userPermission==='1'" class="btn btn-primary" type="submit" ng-click="vm.submit(manufacturerId,selectedBrand.originalObject.ID)"   ng-disabled="form.$invalid || imgError" >submit</button>
                            <button ng-if="productId===undefined && userPermission!=='1'"class="btn btn-primary" type="submit" ng-click="vm.submit(selectedManufacturer.originalObject.ID,selectedBrand.originalObject.ID)"  ng-disabled="form.$invalid || imgError">submit</button>
                            <button ng-if="productId!==undefined" class="btn btn-primary" type="submit" ng-click="vm.submit()"   >Save Change</button>
                            <button ng-if="productId===undefined && userPermission==='1'" class="btn btn-primary" type="submit" ng-click="draft(manufacturerId,selectedBrand.originalObject.ID)"   >Save Draft Change</button>
                            <p>{{vm.progress}}</p><span style="color: green" ng-show="vm.message">{{vm.message}}</span>
                        </div>
                    </div>
             </div>
            </form>
    <!--<button ng-if="productId==undefined" class="btn btn-primary" type="submit" ng-click="submit()"   ng-disabled="form.$invalid || imgError" >submit</button>-->


     </div>




