
<div class="col-md-12">

<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <!--<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">-->
            <!--<label for="username">First name</label>-->
            <!--<input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.SOURCE" required />-->
            <!--<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>-->
        <!--</div>-->

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.USERNAME" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.eMail" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">E-Mail is required</span>
            <span ng-show="!form.email.$error.required && form.email.$error.email && form.email.$dirty">invalid email</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.PASSWORD" required  ng-minlength="6" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span ng-show="!form.password.$error.required && (form.password.$error.minlength || form.password.$error.maxlength) && form.password.$dirty">Passwords must be between 8 and 20 characters.</span>
            <span ng-show="!form.password.$error.required && !form.password.$error.minlength && !form.password.$error.maxlength && form.password.$error.pattern && form.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.confirmePassword.$dirty && form.confirmePassword.$error.required }">
            <label for="confirmePassword">Confirme Password</label>
            <input type="password" name="confirmePassword" id="confirmePassword" class="form-control" ng-model="vm.user.CONFIRMEPASSWORD"  ng-change="cheakPassword()" required  ng-minlength="6" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" />
            <span ng-show="form.confirmePassword.$dirty && form.confirmePassword.$error.required" class="help-block">Confirme password is required</span>
            <span ng-show="confirmePassError" class="help-block">Confirme password and password dont match!</span>
        </div>
        <span style="color:green" ng-show="message">{{message}}</span>
        <span style="color:red" ng-show="errorMessage">{{errorMessage}}</span>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading ||confirmePassError" class="btn btn-primary">Register</button>
            <a id="fb-account" class="btn btn-link">login with Facebook</a>
            <script src="js/fblog.js"></script>
            <fb:login-button autologoutlink='true'  perms='email,user_birthday,status_update,publish_stream'></fb:login-button>

            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <!--<a href="#/sign_in" class="btn btn-link">Cancel</a>-->
        </div>
        <br><br>
        <div>
            <a href="#/signIn"  class="btn btn-link">Already have an account? Sign in</a>
        </div>

    </form>
</div>
</div>